body {
    background-color: #24292e;
    font-family: 'Roboto Mono', monospace;
    color: white;
    height: 100vh;
    margin: 0;

    text-align: center;
}


body.resorts {
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}
